parameters:
    mailer_from_email: '%env(MAILER_FROM_EMAIL)%'
    mailer_from_name: '%env(MAILER_FROM_NAME)%'
    frontend_url: '%env(FRONTEND_URL)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
